<?xml version="1.0" encoding ="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CE CrossBrrowser Testing">

    <test name="LinkedIn Test">

        <parameter name="browser" value="FireFox"/>

        <classes>

        <class name="CEAutomation.CECrossbrowserTesting"/>
        </classes>
    </test>

</suite>